.swiper-button-next, .swiper-button-prev
    &::after
        @apply text-beige

.section-hero
    .swiper-button-next
        @apply right-[10%] z-30
    .swiper-button-prev
        @apply left-[10%] z-30

.room-swiper-thumbnails
    .swiper-wrapper
        justify-content: center
        .swiper-slide
            max-width: 55px
            cursor: pointer

.swiper-button-next-activity
    @apply right-[17%]
.swiper-button-prev-activity
    @apply left-[17%]

.swiper-button-next-activity, .swiper-button-prev-activity
    @apply top-[33%]
    &::after
        @apply text-black

@media (max-width: 768px)
    .swiper-button-next-activity
        @apply right-[7%]
    .swiper-button-prev-activity
        @apply left-[7%]
    .swiper-button-next-activity, .swiper-button-prev-activity
        @apply top-[25%]
        &::after
            @apply text-beige

@media (max-width: 1280px)
    .home .section-hero
        .swiper-button-next, .swiper-button-prev
            @apply hidden